Babel==2.14.0
flake8==7.0.0
furo==2024.1.29
lxml==5.2.1
m2r2==0.3.3.post2
numpydoc==1.7.0
kodi-addon-checker==0.0.33
Kodistubs==21.0.0  # docs: https://romanvm.github.io/Kodistubs
pytest==8.2.0
pytest-cov==5.0.0
PyYAML==6.0.1
requests==2.31.0
rstcheck==6.2.1
Sphinx==7.1.2
sphinx-copybutton==0.5.2
sphinx_inline_tabs==2023.4.21
